          <li class="nav-header">Others</li>
          <li class="nav-item">
            <a href="https://github.com/aws-samples/service-screener-v2/issues" target=_blank rel="noopener noreferrer" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Raise Issues</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/aws-samples/service-screener-v2" target="_blank" rel="noopener noreferrer" class="nav-link">
              <i class="nav-icon fas fa-star" style="color: gold;"></i>Give us a Star<i class="nav-icon fas fa-star" style="color: gold;"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>